<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<style>body{background-color:white;}</style>
<script src="lib/htmlwidgets-1.5.1/htmlwidgets.js"></script>
<script src="lib/pymjs-1.3.2/pym.v1.js"></script>
<script src="lib/widgetframe-binding-0.3.1/widgetframe.js"></script>

</head>
<body>
<div id="htmlwidget_container">
  <div id="htmlwidget-654901107d95abc8b174" style="width:100%;height:500px;" class="widgetframe html-widget"></div>
</div>
<script type="application/json" data-for="htmlwidget-654901107d95abc8b174">{"x":{"url":"./widget/index.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<script type="application/htmlwidget-sizing" data-for="htmlwidget-654901107d95abc8b174">{"viewer":{"width":"100%","height":350,"padding":15,"fill":false},"browser":{"width":"100%","height":500,"padding":40,"fill":false}}</script>
</body>
</html>
