<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- Load leaflet for R-->
    <script src="https://rstudio.github.io/leaflet/libs/jquery/jquery.min.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/bootstrap/css/flatly.min.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/html5shiv.min.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/respond.min.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/navigation/tabsets.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/highlightjs/default.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/highlightjs/highlight.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/htmlwidgets/htmlwidgets.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leafletfix/leafletfix.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4-compressed.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4leaflet.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/rstudio_leaflet/rstudio_leaflet.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-binding/leaflet.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leaflet-measure/leaflet-measure.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-measure/leaflet-measure.min.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-graticule/L.Graticule.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-graticule/Graticule-binding.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-terminator/L.Terminator.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-terminator/Terminator-binding.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-providers/leaflet-providers_1.9.0.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-providers-plugin/leaflet-providers-plugin.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Control.MiniMap.min.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Control.MiniMap.min.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-minimap/Minimap-binding.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/easy-button.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/easy-button.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-easybutton/EasyButton-binding.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/MarkerCluster.css" rel="stylesheet" />
    <link href="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/MarkerCluster.Default.css" rel="stylesheet" />
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.freezable.js"></script>
    <script src="https://rstudio.github.io/leaflet/libs/leaflet-markercluster/leaflet.markercluster.layersupport.js"></script>
    <link href="https://rstudio.github.io/leaflet/libs/ionicons/ionicons.min.css" rel="stylesheet" />


    <!-- leaflet.extras package / check https://github.com/bhaskarvk/leaflet.extras/tree/master/inst/htmlwidgets/build-->
    <!-- You may need to include new refs -->
    <!-- leaflet.extras package / heatmap -->
    <script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-prod.js"></script>
    <script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-bindings.js"></script>	

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon head tag -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/images/site.webmanifest">
  </head>
  <body style="width: 100%; max-width: 1024px;"> 
  <body>
    <div class="wrapper">
      <header>
        <img src="images/ncstate-brick-4x1-red.png" alt="NCSU" width="150">
        
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
<!--
        <p>{{ site.description | default: site.github.project_tagline }}</p> 
-->
        <p><a href="index">Map</a></p>
        <p><a href="open">Open science</a></p>
        <p><a href="data">Data sources</a></p>
        <p><a href="Methods">Methods</a></p>
        <p><a href="Model">Modeling</a></p>
        <p><a href="gallery">Gallery</a></p>
        <!-- <p><a href="contact">Contact</a></p> -->
<!--
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
-->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
          <p><small>Project by NCSU's Geospatial Data Mining Class <br> 
          Original Theme by orderedlist</a></small></p>
      </footer> 
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
